<div class="jumbotron" style="background-color: black;color: white;border-radius: 0px !important;">
  <h1 class="display-4">Photo Gallery</h1>
  <hr class="my-4" style="background-color: red;">
  <p>By - Nishidh parmar</p>
</div>
<div class="container ">
  <div class="row mt-5 "  >
    <div class="col-12 col-md-7">
      <input type="text" class="form-control mt-3 mt-md-0" [(ngModel)]="search" required placeholder="Search Photos...">
    </div>
    <div class="col-12 col-md-3">
      <input type="number"class="form-control mt-3 mt-md-0" [(ngModel)]="page" min="0" max="80" required placeholder="Number of Images "> 
    </div>
    <div class="col-12 col-md-2">
       <button type="submit" style="width: 100%;" class="btn btn-dark mt-3 mt-md-0" (click)="searchphotos()">Search</button>
    </div>
  </div>
  
</div>
  <div class="container-fluid" style="width: 90%;">
    <!-- <h4  class="text-center mt-4" >Showing Result Of : {{search | titlecase}}</h4> -->
    <div class="row text-center mt-4 mb-4" style="border: 1px solid gray;border-radius: 10px;">
      <div class="col mt-4 mb-4"  *ngFor="let d of data">
    
          <img src="{{d.src.tiny}}" alt="" style="box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.51);">
      
  
      </div>
    
  </div>



<router-outlet></router-outlet>  